{% extends 'main.html' %}

{% block content %}

<main class="layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    <div>
      {% url 'home' as the_url %}
      {% include 'bas/topics.html' with link=the_url %}
    </div>
    <!-- Topics End -->

    <!-- Room List Start -->
      {% include 'bas/feed.html' %}
    <!-- Room List End -->

    <!-- Activities Start -->
      {% include 'bas/activity.html' with page='home' %}
    <!-- Activities End -->
  </div>
</main>

{% endblock %}
