{% extends 'main.html' %}

{% block content %}
{% if page == 'login'%}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>username</label>
        <input type="text" name="username">
        <label>password</label>
        <input type="text" name="password">
        <input type="submit" value="login">
    </form>
</div>
<div>
    <h5>Have not register yet?</h5>
    <a href="{% url 'Register' %}">Sign Up</a>
</div>
{% endif %}
{% if page == 'register'%}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="register"> 
        <!-- value means which is written in the button -->
    </form>
</div>
<div>
    <h5>Already have account?</h5>
    <a href="{% url 'Login' %}">Sign In</a>
</div>
{% endif %}
{% endblock %}