{% extends 'main.html' %}

{% block content %}
<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div>
    <h1>{{user.username}}</h1>
</div>
<div class="profile-container">
    <div>
        {% url 'userProfile' user.id as the_url %}
        {% include 'bas/topics.html' with link=the_url %}
    </div>
    <div>
        {%include 'bas/feed.html' %}
    </div>
    <div>
        {% include 'bas/activity.html' %}
    </div>
</div>
{% endblock %}