{% extends 'main.html' %}

{% block content %}

  <main class="profile-page layout layout--3">
    <div class="container">
      <!-- Topics Start -->
        {% url 'userProfile' user.id as the_url %}
        {% include 'bas/topics.html' with link=the_url %}
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              {% for profile in Profiles%}
              {% if profile.user.id == user.id %}
              <a href="{{profile.avatar.url}}">
              <img src="{{profile.avatar.url}}" />
              </a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="profile__info">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <p><a href="{% url 'userProfile' user.id %}">@{{user.username}}</a></p>
            {% if request.user.id == user.id %}
            <a href="{% url 'userUpdate' request.user.id %}" class="btn btn--main btn--pill">Edit Profile</a>
            {% endif %}
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {% for profile in Profiles%}
              {% if profile.user.id == user.id %}
              {{profile.bio}}
              {% endif %}
              {% endfor %}
            </p>
          </div>
        </div>
        {%include 'bas/feed.html' with page='profile' %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'bas/activity.html' %}
      <!-- Activities End -->
    </div>
  </main>

{% endblock %}